# .gitignore

.editorconfig
.idea
.DS_Store
.vscode/*
.cursor/*

# npm yarn
node_modules
package-lock.json
yarn-error.log
.pnp.*
.yarn/*

# keep in repo
!.gitignore
!.yarn.lock
!.yarnrc.yml
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# gatsby files
.env
.cache
public

# cypress
cypress/videos
cypress/screenshots

# lerna
lerna-debug.log

# Added by update-bot
.vscode
.history
.actrc
.secrets
local-test.yml
.yalc
yalc.lock
linter-output.txt
linter-report.txt
